:root {
    --background-color: #02040c;
    --font-color: #cdddff;
    --accent-color: #3befff;
}
body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline cadetblue;
}
